
    // font-family: 'Orbitron', sans-serif;

    // font-family: 'Raleway', sans-serif;
    
#game-over {
    border: black 1px solid;
    // background-color: black;
    // background-image: url('../assets/images/game_start_background.png');
    margin-right: 70px;
    border-radius: 8px;
    display: none;
}

#game-screen {
    border: black 1px solid;
    // background-color: black;
    // background-image: url('../assets/images/game_start_background.png');
	margin-right: 70px;
	border-radius: 8px;
    display: none;
}

#game-start {
    border: black 1px solid;
    // background-color: black;
    // background-image: url('../assets/images/game_start_background.png');
	margin-right: 70px;
	border-radius: 8px;
}

#title {
    font-family: 'Orbitron', sans-serif;
    font-size: 100px;
	margin: 20px;
	margin-bottom: 40px;
	
}

.main {
	display: flex;
	justify-content: space-between;
}

.sidebar {
	background-color: silver;
	width: 20%;
	font-family: 'Raleway', sans-serif;
	color: black;
	padding: 15px;
	line-height: 1.6;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 1px black solid;

	p {
		margin: 7px 0px;
	}

	.headers {
		font-size: 35px;
	}

    .key-commands {
        display: flex;
        justify-content: space-between;
    }

    .directions {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-right: 45px;
        
        
        p {
            margin-right: 10px;
        }

        i {
            margin-right: 10px;
        }

        .key {
            font-weight: bold;
        }
    }
}

.social {
    margin-top: 40%;
    font-size: 30px;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    
    a {
        color: black;
    }
}
